email.username=your_email@example.com
email.password=your_email_password
email.from=your_email@example.com

mail.smtp.host=smtp.gmail.com
mail.smtp.port=587
mail.smtp.auth=true
mail.smtp.ssl.enable=false
mail.smtp.starttls.enable=true
mail.smtp.starttls.required=true
mail.smtp.user=your_email@example.com

mail.smtp.connectiontimeout=10000
mail.smtp.timeout=10000
mail.smtp.writetimeout=10000

mail.debug=false